<h3>DNS Twist</h3>
{% if dnstwist_records %}
    <table id="DT_table" class="table display">
        <thead>
            <tr>
                <th>Resolution Date</th>
                <th>Detection Type</th>
                <th>Domain Variant</th>
                <th>IP Address</th>
{#                <th>NS Domain</th>#}
{#                <th>MSX Domain</th>#}
            </tr>
        </thead>
        <tbody>
            {% for record in dnstwist_records %}
                {% for result in record.info.results %}
                    <tr>
                        <td>{{ record.info_date|date:"N d, Y" }}</td>
                        <td>{{ result.title }}</td>
                        <td>{{ result.domain }}</td>
                        <td>{{ result.IP }}</td>
{#                        <td>{{ result.NS }}</td>#}
{#                        <td>{{ result.MX }}</td>#}
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h4>No Records Found</h4>
{% endif %}
