{% load pivoteer_extras %}

<span id="htop"></span>
<h3>Hosting Beyond Last 24 Hours</h3>
{% if hosting_records %}
    <table id="HR_table" class="table display">
        <thead>
          <tr>
            <th>Domain</th>
            <th>IP Address</th>
            <th>Country</th>
            <th>First Seen</th>
            <th>Last Seen</th>
            <th>Source</th>
          </tr>
        </thead>

        <tbody>
            {% for record in pds_records %}
                <tr>
                    <td>
                        {% if record.info.domain != origin %}
                            <span class="pivot">{{ record.info.domain }}</span>
                        {% else %}
                            {{ record.info.domain }}
                        {% endif %}
                    </td>
                    <td>
                        {% if record.info.ip != origin %}
                            <span class="pivot">{{ record.info.ip }}</span>
                        {% else %}
                            {{ record.ip }}
                        {% endif %}
                    </td>
                    <td>{{ record.location.country }}</td>
                    <td>{{ record.firstseen|date:"N d, Y h:i A"  }}</td>
                    <td>{{ record.lastseen|date:"N d, Y h:i A"   }}</td>
                    <td>{{ record.get_info_source_display }}</td>
                </tr>
            {% endfor %}

            {% for record in pto_records %}
                <tr>
                    <td>
                        {% if record.info.domain != origin %}
                            <span class="pivot">{{ record.info.domain }}</span>
                        {% else %}
                            {{ record.info.domain }}
                        {% endif %}
                    </td>
                    <td>
                        {% if record.info.ip != origin %}
                            <span class="pivot">{{ record.info.ip }}</span>
                        {% else %}
                            {{ record.ip }}
                        {% endif %}
                    </td>
                    <td>{{ record.location.country }}</td>
                    <td>{{ record.firstseen|date:"N d, Y h:i A"  }}</td>
                    <td>{{ record.lastseen|date:"N d, Y h:i A"   }}</td>
                    <td>{{ record.get_info_source_display }}</td>
                </tr>
            {% endfor %}

            {% for record in hosting_records %}
                <tr>
                    <td>
                        {% if record.info.domain != origin %}
                            <span class="pivot">{{ record.info.domain }}</span>
                        {% else %}
                            {{ record.info.domain }}
                        {% endif %}
                    </td>
                    <td>
                        {% if record.info.ip != origin %}
                            <span class="pivot">{{ record.info.ip }}</span>
                        {% else %}
                            {{ record.ip }}
                        {% endif %}
                    </td>
                    <td>{{ record.location.country }}</td>
                    <td>{{ record.firstseen|date:"N d, Y h:i A"  }}</td>
                    <td>{{ record.lastseen|date:"N d, Y h:i A"   }}</td>
                    <td>{{ record.get_info_source_display }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="#htop">Back to top</a><br><br>
{% else %}
    <h4>No Records Found</h4>
{% endif %}
