<span id="top"></span>
<h3>Most Recent Certificate Search Results</h3>
{% if cert_info %}
  {% if cert_info.info.status %}
    Error retrieving certificate data: {{ cert_info.info.message }}
  {% elif cert_info.info.count > 0 %}
    <br><b>Total results: </b>{{ cert_info.info.total }}
    <b> Saved: </b>{{ cert_info.info.count }}
  {% else %}
    No results.
  {% endif %}
<br><br><b>Permalink: </b><a target="_blank" href="https://www.censys.io/certificates?q={{ cert_info.info.indicator }}">https://www.censys.io/certificates?q={{ cert_info.info.indicator }}</a>
<br>
<table id="cert_table" class="table display">
  <tbody>
    {% for item in cert_info.info.records %}
    <tr>
      <td>
		Subject: {{ item.parsed.subject_dn }}<br />
		Issuer: {{ item.parsed.issuer_dn }}<br />
		SHA-256:
		<a target="_blank" href="https://www.censys.io/certificates/{{ item.parsed.fingerprint_sha256 }}">
		    {{ item.parsed.fingerprint_sha256 }}
		    <span class="glyphicon glyphicon-new-window"></span>
		</a>
		<a target="_blank" href="https://www.censys.io/ipv4?q={{ item.parsed.fingerprint_sha256 }}"> ipv4 search
		<span class="glyphicon glyphicon-new-window"></span></a>
		<a target="_blank" href="https://www.censys.io/domain/help?q={{ item.parsed.fingerprint_sha256 }}"> domain search
		<span class="glyphicon glyphicon-new-window"></span></a>
		<br />
		Validity: {{ item.parsed.validity.start }} - {{ item.parsed.validity.end }}<br />
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="#top">Back to top</a><br><br>
{% else %}
No certificate results loaded.
{% endif %}