{% load pivoteer_extras %}


<hr class="linebreak" id="threatcrowd">
<h3>Most Recent ThreatCrowd Record</h3>
<a href="#top">Back to top</a><br><br>
{% if tc_info %}

  {% if tc_info.info.response_code != "1" %}
      <h4>No Response Found from API </h4>
  {% elif tc_info.info.error %}
      Error retrieving TC data: {{ tc_info.info.error }}
  {%  else %}
      <b>Lookup Date:</b><br>
      {{ tc_info.info_date }}
      <br><br>


      <b>Permalink:</b><br>
      <a target="_blank" href="{{ tc_info.info.permalink }}">{{ tc_info.info.permalink }}</a>
      <br><br>


      <b>Emails:</b><br>
      {{ tc_info.info.emails|join:", " }}
      <br><br>

      <table class="table display">
      <thead>
        <tr>
          <th>Subdomains</th>
          <th>Resolutions</th>
          <th>Hashes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
          {% for item in tc_info.info.subdomains %}
            <br><span class="pivot">{{ item }}</span>
          {% endfor %}
          </td>

          <td>
          {% for item in tc_info.info.resolutions %}
            <br>{{item.last_resolved}} <span class="pivot">{{ item.domain }}</span><span class="pivot">{{ item.ip_address }}</span>
          {% endfor %}
          </td>


          <td>
          {% for item in tc_info.info.hashes %}
            <br>{{ item }}
          {% endfor %}
          </td>

        </tr>
      </tbody>
      </table>

      <b>References:</b><br>
      {{ tc_info.info.references|join:", " }}
      <br><br>
  {% endif %}

{% else %}
<h4>No Records Found</h4>
{% endif %}

